.ipynb_checkpoints/
.DS_Store
*/.DS_Store
**/.DS_Store
.nbgrader.log
gradebook.db
nbgrader_config.py
source/TP2/
source/header.ipynb
Data/Wikipedia/plaintext_articles/
source/Lab 2 - EN/

source/Lab 2 - FR/

source/Lab 3 - FR/
