.ipynb_checkpoints/
.DS_Store
*/.DS_Store
**/.DS_Store
.nbgrader.log
gradebook.db
nbgrader_config.py
source/header.ipynb
Data/Wikipedia/plaintext_articles/
source/Lab 2/
source/Lab 3/
source/Lab 4/
release/Lab 4/data/
release/Lab 4/mlruns/
release/Lab 4/runs/
net/
.virtual_documents/